
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

*.import

addons/

TestingWorld.gd

Scenes/pathtest dependcies/

Scenes/PathTest.tscn

TESTS/Extending scenes/
Assets/Menu_icons/Hammer_loader clone.ase
Gui/Interactions/InteractionsButton.tscn

TESTS/Kinematic_body_tests/

Legacy/

Scenes/Gui/Menu_handler/cross_exam_mainhub_to_interact_menu
